node_modules/
.DS_Store
.vercel
.env
.env.*
!.env.example
!.env.development.local.example
*.log
.next/
out/
tsconfig.tsbuildinfo

# clerk configuration (can include secrets)
/.clerk/
client_secret_*.json
